@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: rgba(57, 114, 41, 1);
  --yellow: #ffbf00;
  --white: #ffffff;
  --black: #000000;
  --gray: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --green: rgba(57, 114, 41, 1);
    --yellow: #ffbf00;
    --white: #ffffff;
    --black: #000000;
    --gray: #efefef;
  }
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
  border-radius: 0.75rem;
  padding: 2.5rem;
  border-width: 2px;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: var(--gray);
}

.input:focus {
  outline-color: var(--yellow);
}

.container-class {
  /* position: relative; */
  /* min-height: 100vh; */
  overflow: hidden;
  /* width: 300vw; */
  /* width: 100%; */
}

.container-class::before {
  content: "";
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background-image: linear-gradient(-45deg, var(--green) 0%, var(--green) 100%);
  transition: 1s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.container-class.sign-up::before {
  transform: translate(0, 0);
  right: 50%;
}

.container-class.sign-in::before {
  transform: translate(100%, 0);
  right: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.col {
  width: 50%;
}

.content-row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin-right: 4rem;
  margin-left: 4rem;
  color: var(--white);
}

.text p {
  font-weight: 600;
  transition: 1s ease-in-out;
  transition-delay: .2s;
}

.text h2 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  transition: 1s ease-in-out;
  line-height: 4rem;
}

.img img {
  width: 30vw;
  transition: .1s ease-in-out;
  transition-delay: .1s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
  transform: translateX(-200%);
}

.text.sign-up h2,
.text.sign-up p,
.img.sign-up img {
  transform: translateX(250%);
}

.container-class.sign-in .text.sign-in h2,
.container-class.sign-in .text.sign-in p,
.container-class.sign-in .img.sign-in img,
.container-class.sign-up .text.sign-up h2,
.container-class.sign-up .text.sign-up p,
.container-class.sign-up .img.sign-up img {
  transform: translateX(0);
}

@media only screen and (max-width: 667px) {

  .container-class::before,
  .container-class.sign-in::before,
  .container-class.sign-up::before {
      height: 100vh;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 0;
      transform: none;
      right: 0;
  }

  /* .container-class.sign-in .col.sign-up {
      transform: translateY(100%);
  } */

  .container-class.sign-in .col.sign-in,
  .container-class.sign-up .col.sign-up {
      transform: translateY(0);
  }

  .content-row {
      align-items: flex-start !important;
  }

  .content-row .col {
      transform: translateY(0);
      background-color: unset;
      height: 35%;
  }

  .col {
      width: 100%;
      position: absolute;
      padding: 2rem;
      background-color: var(--white);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      transform: translateY(100%);
      transition: 1s ease-in-out;
      height: 65%;
  }

  .row {
      align-items: flex-end;
      justify-content: flex-end;
  }

  .form-wrapper,
  .social-list {
      box-shadow: none;
      /* margin-bottom: 10rem; */
      padding: 0;
  }

  .text {
      margin: 0;
  }

  .text p {
      display: none;
  }

  .text h2 {
      margin: .5rem;
      font-size: 1.5rem;
      line-height: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}